.box-out {
    width: 320px;
    height: 500px;
    background-color: #262118;
    border-radius: 2.5rem;
    overflow: auto;
    margin: 40px auto;
}

.screen {
    width: 210px;
    height: 65px;
    background-color: #8EE69B;
    border: 3px solid red;
    border-radius: 2.5rem; 
    padding: 0 20px 10px;
    margin: 40px auto;
}

.screen p {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin: 3px 0 0 0;
}

.screen h1 {
    font-size: 50px;
    color: red;
    text-align: center;
    margin: 0;  
}

/* .buttons-calc {
    margin: 0 15px;
} */

button {
    cursor: pointer;
    border: 1px solid #8EE69B;
}

.buttons-calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-top button {
    margin: 0 3px;  
}

.buttons-bottom button {
    padding: 7px 16px;
    margin: 10px 8px;
}

button.onC {
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

button.top-btn-others {
    padding: 3px 8px;
    border-radius: 80%;
}

button.sum {
    position: absolute;
    padding: 35px 18px;
}
