.box-out {
    width: 320px;
    height: 500px;
    background-color: #262118;
    border-radius: 2.5rem;
    overflow: auto;
    margin: 40px auto;
}

.screen {
    width: 210px;
    height: 50px;
    background-color: #8EE69B;
    border: 2px solid red;
    border-radius: 2.5rem; 
    text-align: center;
    padding: 0 20px 10px;
    margin: 25px auto 20px;
}

.screen h1 {
    font-size: 50px;
    color: red;
    padding: 0;
    margin: 0;  
}

.buttons-calc {
    padding: 0;
    margin: 0 15px;
}

button {
    cursor: pointer;
    border: 1px solid red;
}

.buttons-calc {
    padding: 0 5px;
}

.buttons-top button {
    margin-right: 5px;
}

button.onC {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 0px;
}

button.top-btn-others {
    padding: 5px 12px;
    border-radius: 80%;
}
